ion-content ion-toolbar {
  --background: translucent;
}

.word {
  display: inline-block;
  padding: 5px;
  margin: 2px;
  background: rgba(128, 128, 128, 0.657);
  border-radius: 24px;
}

.correct {
  color: rgba(0, 128, 0, 0.781);
}

.incorrect {
  color: red;
}

.done {
  font-weight: bold;
}
